<div id="{{form_type}}" class="container-fluid">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>{{{message}}}</p>
    </div>
    <form class="form" method="post">
        {{!-- <div class="alert hidden" role="alert"></div> --}}
        {{{ form }}}
        <div class="alert hidden" role="alert"></div>
        <button class="btn btn-primary" type="submit" >{{submitText}}</button>
    </form>
    <div class="other-page">
      <p>{{other_page.intro_text}} <a href="{{other_page.path}}">{{other_page.main_text}}</a><p>
    </div>
</div>
