<div class="container-fluid">
    <div class="row">
        <div class="well">
            <h1><small>Details for Delivery:</small> {{doc.shortId}}</h1>
            <h2><small>Status:</small> {{doc.status}}</h2>
            <p><strong>Created on:</strong> {{doc.createdOn}}</p>
        </div>
        <div class="col-xs-12">
            <p><strong>District Name:</strong> {{doc.districtName}}</p>
            <p><strong>Last Day of Delivery:</strong> {{doc.lastDayOfDeliveryParsed}}{{#unless doc.lastDayOfDelivery }}N/A{{/unless}}</p>
            <p><strong>Number of Meals Delivery:</strong> {{doc.numberOfMealsDelivered}}{{#unless doc.numberOfMealsDelivered }}N/A{{/unless}}</p>
            <p><strong>Demand/Supply Gap</strong> {{doc.demandSuplyGap}}{{#unless doc.demandSuplyGap }}N/A{{/unless}}</p>
            <a href="/deliveries" class="btn btn-primary">See all deliveries</a>
        </div>
    </div>
</div>
